.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
  }
  
  .modal-overlay.open {
    opacity: 1;
    visibility: visible;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .modal-content.slide-in {
    transform: translateY(0);
  }
  
  .modal-content.slide-out {
    transform: translateY(-100%);
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
    
  }
  
  .filter-dropdowns {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
  }
  
  .dropdown-container {
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-container label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .apply-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .clear-filters-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6d6d6d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  
  .apply-button:hover {
    background-color: #0056b3;
  }
  
  .clear-filters-button:hover{
    background-color:red;
  }
  .react-select-container {
    width: 100%;
  }
  
  .react-select__control {
    padding: 0;
  }
  